@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.title {
    width: 40%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#title {
    font-size: 70px;
    font-weight: 600;
}

#subtitle {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}

.main {
    width: 80%;
    margin-top: 60px;
    height: 630px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 10px 10px black;
    z-index: 1;
}  

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 150px;
}

.card {
    height: 150px;
    width: 130px;
    background-color: #FFF0FF;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 3px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.item {
    width: 120px;
    display: flex;
    visibility: hidden;
}

.screen {
    width: 130px;
    height: 150px;
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
}

.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    height: 70vh;
    border-radius: 25px;
    background-color: #D3D3D3;
    margin-top: 15vh;
    z-index: 1;
    visibility: hidden;
}

#close-button {
    top: 0px;
    right: 0.5rem;
    position: absolute;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    color: red;
}

#close-button:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
    color: #010101;
}

.textarea {
    width: 70%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#main-text {
    font-size: 3.2rem;
    font-weight: 500;
}

#secondary-text {
    font-size: 2rem;
    white-space: pre-line
}

.button {
    border: 2px solid #010101;
    border-radius: 1.5rem;
    height: 3rem;
    width: 6rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    color: #010101;
}

.button:hover {
    transform: scale(1.05);
    transition: 1s ease;
    background-color: #010101;
    color: #FFFFFF;
}